<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ServiceBusNamespaceConnection" connectionString="Endpoint=sb://bootcamp-lucasrocco.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=8ziyEVSvx1VwiRrppnNdhyhtge4/BUbHai2RusFnpcU="/>
  </connectionStrings>
</configuration>